<h1>
    About Recipe 
</h1>
<h4>You can read my About on About Recipes</h4>
<p>A recipe is a formula of ingredients and a list of instructions for creating prepared foods. It is used to control quality, quantity, and food costs in a ...</p>
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <div class="col-12 col-lg-6">
        <img src="/img/r4.jpeg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
    <div class="col-12 col-lg-6">
        <img src="/img/r5.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
     <div class="col-12 col-lg-6">
        <img src="/img/r6.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
    <div class="col-12 col-lg-6">
        <img src="/img/r4.jpeg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
</div>