<h1>Contact us</h1>
<h4>Contact us now for yur more detials about recipes</h4>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <div class="col-12 col-lg-6">
        <img src="/img/r1.jpeg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
    <div class="col-12 col-lg-6">
        <img src="/img/r1.jpeg" width="607" height="520" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
     <div class="col-12 col-lg-6">
        <img src="/img/r1.jpeg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
    <div class="col-12 col-lg-6">
        <img src="/img/r1.jpeg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
</div>
