:root
{
    --bs-font-sans-serif:'Rubik',sans-serif;

}
.container--xxl {max-width: 1530px;}
body
{
    background-image: url("/img/back1.jpg");
    background-color: rgb(243, 243, 243);
    background-repeat: no-repeat;
    background-size: 100%;

}
a
{
    color: var(--bs-dark);
}

/* category card   */

.category_link
{
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms  all;   
}
.category_link:hover
{
    transform: scale(1.1);
}
.category_img
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    overflow: hidden;
    border-radius: 8px;
}
.category_img img 
{
    width: 100%;
    object-fit: cover;

}
.category_img--large
{
    height:200px;

}